body {
    font-family: "Lexend", Arial, Helvetica, sans-serif;
    margin: 80px 80px 80px 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#title {
    font-size: 64px;
    margin-bottom: 32px;
    text-align: center;
}

#chat {
    align-self: center;
    background-color: lightgoldenrodyellow;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 32px;
    padding: 40px;
    width: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#conversation {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 16px;
    width: 100%;
}

#messages {
    height: 48px;
    z-index: 1000;
}

#msg-form {
    height: inherit;
    width: 800px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

#msg-box {
    background-color: rgb(235, 235, 235);
    height: inherit;
    width: 700px;
    text-align: left;
    padding: 10px 10px 10px 10px;
    font-family: "Lexend", Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    border-radius: 5px;
    margin-right: 40px;
}

#msg-submit {
    height: inherit;
    font-family: "Lexend", Arial, Helvetica, sans-serif;
}

#judgement {
    padding: 20px 20px 20px 20px;
    background-color: aquamarine;
}
