<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Judge Social</title>
    <link href="https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/index.css">
    <script src="/static/index.js" defer></script>
</head>
<body>
    <h1 id="title">Unethical AI: Judge Social</h1>
    <main>
        <div id="chat">
            <div id="conversation">
            </div>
            <div id="messages">
                <form id="msg-form">
                    <textarea id="msg-box" name="message-box" rows="4" cols="50" placeholder="Type your message here..."></textarea>
                    <button id="msg-submit" type="submit">Submit</button>
                </form>
            </div>
        </div>
        <div id="judgement">
            <h2>Evaluation & Roast</h2>
        </div>
    </main>
    
</body>
</html>