<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Judge Social</title>

    <link rel="stylesheet" href="static/index.css">
</head>
<body>
    <h1 id="title">Judge Social</h1>
    <main>
        <div id="chat">  
            <p>Hello</p>   
            <form id="message">
                <input >
            </form>
        </div>
        <div id="judgement">

        </div>
    </main>
    
</body>
</html>